<main class="page">
  <h2>Upload ,Crop and save.</h2>

  <div class="box">
    <input type="file" (change)="onFileSelected($event)">
  </div>


  <div class="box-2">
    <div class="result"></div>
  </div>

  <div class="box-2 img-result hide">
    <!-- result of crop -->
    <img class="cropped" src="{{uploadedPic}}" alt="">
  </div>

  <div class="box">
    <div class="options hide" id="op">
      <label> Width</label>
      <input type="number" class="img-w" value="300" min="100" max="800" />
    </div>

  <!-- <div class="button-wrapper">
    <button type="submit" (click)="rotateImage('left')">rotate left 45</button>
    <button type="submit" (click)="rotateImage('right')">rotate right 45</button>
  </div> -->

  <!-- save btn -->
  <button class="btn save hide" (click)="onSave($event)">Save</button>
  <!-- download btn -->
  <a href="" class="btn download hide" download="{{uploadedPic}}">Download</a>
  </div>
</main>
